@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Dream World<br />
    heaven 00000<br />
    <abbr title="Phone">P:</abbr>
   0000.000.0000
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">sourabh@test.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@test.com</a>
</address>
